.centerAlign {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
  }

.gold {
    background-color: rgb(212, 181, 0);
    animation: finish 1s;
    animation-iteration-count: 3;
}

@keyframes finish {
    0% {
        background-color: rgb(212, 181, 0);
    }
    50% {
        background-color: #343a40;
    }
    100% {
        background-color: rgb(212, 181, 0);
    }
}

.green {
    background-color: greenyellow;
    animation: greenfinish 1s;
    animation-iteration-count: 3;
}

@keyframes greenfinish {
    0% {
        background-color: rgb(115, 192, 0);
    }
    50% {
        background-color: #343a40;
    }
    100% {
        background-color: rgb(115, 192, 0);
    }
}

.err {
    color:black;
background-color: rgb(255, 140, 159);
font-weight: bold;
font-size: 20px;
}

.correct {
    color:black;
    background-color: rgb(61, 255, 71);
    font-weight: bold;
    font-size: 20px;
}

#quote {
    font-weight: bolder;
}

#textbox {
    position: relative;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 4px;
    border-color: teal;
    opacity: 1;
    animation: fadeIn 1s, fadeInSetup 0.5s;
    animation-delay: 0.5s, 0s;
}

@keyframes fadeIn{
    0% {
        opacity: 0
    }
    100%{
        opacity: 1
    }
}

@keyframes fadeInSetup{
    0% {
        opacity: 0
    }
    100%{
        opacity: 0
    }
}


.shiftRight {
    position: relative;
    left: 1.3rem;
}

.CircularProgressbar {
    height: 100px;
    width: 100px;
}

body, .card {
    background-color: #4a4c4d;
    color:whitesmoke
}

.card {
    border-color:whitesmoke
}

.blackText {
    color: black;
}


th {
    width: 10%
}

/* BLOCK FOR ANIMATING QUOTE */
/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
/* html{
  min-height: 100%;
  overflow: hidden;
}
body{
  height: calc(100vh - 8em);
  padding: 4em;
  color: rgba(255,255,255,.75);
  font-family: 'Anonymous Pro', monospace;  
  background-color: rgb(25,25,25);  
} */
.line-1{
    position: relative;
    top: 25%;  
    width: 100%;
    /* margin: 0 auto; */
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 100%;
    /* text-align: center; */
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */

/*  */

.anim-typewriter{
  animation: typewriter 3s steps(44) 1s 1 normal both,
  blinkTextCursor 750ms steps(44) 1s 1 normal;
  font-weight: bold;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 100%;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255, 255, 255, 0.75);}
  to{border-right-color: transparent;}
}
/* BLOCK FOR ANIMATING QUOTE */

