.centerAlign {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
  }

.gold {
    background-color: gold;
    animation: finish 0.9s infinite;
}

@keyframes finish {
    0% {
        background-color: rgb(255, 248, 208);
    }
    50% {
        background-color: gold;
    }
    100% {
        background-color: rgb(255, 248, 208);
    }
}

.err {
background-color: pink;
}

.correct {
    background-color: greenyellow
}

#quote {
    font-size: 1rem;
    font-weight: bolder;
}
